.custom_1 {
  margin: 150px auto 100px;
  width: 1200px;
  position: relative;
  border-radius: 35px;
 /* transition: .3s;
  transition: 1s;*/

}

/*.custom_1:hover {
box-shadow: 5px 5px 5px 2px rgba(0, 0, 255, .2),
-3px -3px 5px 2px rgba(0, 0, 255, .2);
transition: .3s;
transform: scale(1.0);
}*/

.custom_1_img {
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   background-size: cover;
   background-position: center;
   opacity: 0;
   transition: opacity 0.5s;
   border-radius: 50px;
}

.custom_1_link_left {
   max-width: 90%;
   position: absolute;
   left: 3%;
   top: 40%;
   transition: 1s;
   text-align: left; 
}

.custom_1_link_left:hover {
    transform: scale(1.1);
} 

.custom_1_link_right {
    position: absolute;
    right: 3%;
    top: 40%;
    transition: 1s;
}

.custom_1_link_right:hover {
    transform: scale(1.1);

} 

@media screen and (max-width: 450px) {
    .custom_1_link_img {
        width: 20px;
        height: 20px;
    }

    .custom_1 {
        width: 1000px;
        margin: 50px auto 50px;

    }

}


#banner-carousel {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 50px;
    }